Source: meta-mendel
Maintainer: Coral <coral-support@google.com>
Build-Depends: debhelper (>=10)
Section: metapackages
Priority: optional
Standards-Version: 3.9.8

Package: mendel-core
Priority: optional
Depends: mdt-services,
         mendel-distro-info-data,
         mendel-keyring,
         mendel-minimal,
         runonce,
         usb-gadget,
         vitalsd,
         ${misc:Depends}
Architecture: any
Description: Metapackage for core Mendel packages
 Metapackage for the core packages required by Mendel,
 on any supported device.

Package: mendel-gui
Priority: optional
Depends: gstreamer1.0-alsa,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-base-apps,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-ugly,
         gstreamer1.0-tools,
         libdrm2,
         libgstreamer1.0-0,
         libgstreamer-plugins-bad1.0-0,
         libgstreamer-plugins-base1.0-0,
         mendel-core,
         ${misc:Depends}
Architecture: any
Description: Metapackage for GUI Mendel packages
 Metapackage to provide gui functionality for Mendel,
 on any supported device.
